<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
	
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Movie Rating</title>
    <!-- Custom CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="dist/css/style.min.css" rel="stylesheet">
<style>
.fake_link:hover{
cursor:pointer;
}
</style>

</head>

<body class="skin-default-dark fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Loading Movie List</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href="movielist.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <!-- <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" /> -->
                        </b></a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<li class="nav-item "> <a class="nav-link  waves-effect waves-light" href="subscribe.html"><i class="fa fa-play"></i>&nbsp;Subscribed</a></li>
						<li class="nav-item ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
						<li class="nav-item "> <a class="nav-link  waves-effect waves-light" href="index.html"><i class="fa fa-power-off"></i>&nbsp;Logout</a></li>
						<li class="nav-item ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
						<li class="nav-item "> <a class="nav-link  waves-effect waves-light" href="movielist.html"><i class="fa fa-home"></i>&nbsp;Home</a></li>
					</ul>
                    
                </div>
            </nav>
        </header>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles" style="align:center;">
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Movie Lists</h4>
                                <h6 class="card-subtitle">Please subscribe</h6>
                                <div class="table-responsive m-t-40" ng-app="listApp" ng-controller="listController">
									<li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark" href="#"><i class="fa fa-search"></i>&nbsp;Search</a>
									<form class="app-search" name="userForm" ng-submit="searchForm()" >
										<input type="text" class="form-control" name="search" ng-model="user.search" placeholder="Search by Title, Year, Imdb rating, Imdb url &amp; enter"> <a class="srh-btn"><i class="fa fa-close"></i></a>
									</form>
									</li>
                                    <table id="" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Imdb URL</th>
                                                <th>Imdb Rating</th>
                                                <th>Year</th>
                                                <th>Genre</th>
                                                <th>Subscribe</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="list in lists">
                                                <td>{{list.title}}</td>
                                                <td><a href="{{list.url}}" target="blank">Details</a></td>
                                                <td>{{list.imdbrating}}</td>
                                                <td>{{list.year}}</td>
                                                <td>{{list.gen_comedy}}</td>
												
												<td ng-click="toggle_like(list)" class="fake_link">
												<span ng-if="list.is_subscribed"> Unsubscribe </span>
												<span ng-if="!list.is_subscribed"> Subscribe </span> 
												</td>
												
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <footer class="footer">
            © 2019 Movielist
        </footer>
    </div>
	<script src="../assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="dist/js/angular-jwt.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
	
    <script src="../assets/node_modules/popper/popper.min.js"></script>
    <script src="../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="dist/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="../assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="dist/js/custom.min.js"></script>
    <!-- This is data table -->
    <script src="../assets/node_modules/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="../../../../../cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    
    <!-- end - This is for export functionality only -->
    <script type="text/javascript">
   var app =   angular.module('listApp', ['angular-jwt'])
    app.config(function Config($httpProvider, jwtOptionsProvider) {
        jwtOptionsProvider.config({
      tokenGetter: ['jwtHelper', '$http', function(jwtHelper,$http) {
        var jwt = localStorage.getItem('jwt');
            var refreshToken = localStorage.getItem('refresh_token');
             data = {"refresh":refreshToken}
            if (jwtHelper.isTokenExpired(jwt)) {
                // This is a promise of a JWT id_token
                return $http({
                    url: 'http://skyislimit.cloudapp.net/api/token/refresh/',
                    // This will not send the JWT for this call
                    skipAuthorization: true,
                    method: 'POST',
                    data : data,
					headers : { 'Content-Type': 'application/json' } 
                }).then(function(response) {
                    localStorage.setItem('jwt', response.data.access);
					//console.log(response.data.access);
                    return jwt;
                });
            } else {
                return jwt;
            }
      }],
	  whiteListedDomains: ['skyislimit.cloudapp.net']
    });
        $httpProvider.interceptors.push('jwtInterceptor');
    }).controller('listController', function Controller($http, $scope) {
    // If localStorage contains the id_token it will be sent in the request
    // Authorization: Bearer [yourToken] will be sent
	$scope.user = {};
        $scope.searchForm = function() {
        $http({
          method  : 'GET',
          url     : 'http://skyislimit.cloudapp.net/api/search/',
          params  : $scope.user,
          headers : { 'Content-Type': 'application/json' } 
         }).then(function (response) {
				$scope.lists= response.data;
				console.log(response.data);
				
            },function (error){
			    $scope.error= "Please check your credentials!";
                console.log(error);
            });
        };
	
    $http({
      url: 'http://skyislimit.cloudapp.net/api/movielist/',
	  //skipAuthorization: true,
      method: 'GET',
	  //headers : { 'Content-Type': 'application/json' } 
    }).then(function (response) {
				$scope.lists= response.data;
				//datalists = response.data;
				console.log(response.data);
				
				
				$http({
      url: 'http://skyislimit.cloudapp.net/api/subscribelist/',
	  //skipAuthorization: true,
      method: 'GET',
    }).then(function (response) {
				$scope.subscribes= response.data;
				console.log(response.data);
				$scope.toggle_like = function(list){
				list.is_subscribed = !list.is_subscribed;
				console.log(list.is_subscribed);
				console.log(list.id);
				data = {"movielist": list.id,"is_subscribed": list.is_subscribed};
				$http({
          method  : 'POST',
          url     : 'http://skyislimit.cloudapp.net/api/newsubscribe/',
          data    : data,
          headers : { 'Content-Type': 'application/json' } 
         }).then(function (response) {
				//console.log(response.data);
            },function (error){
			    $scope.error= "Please check your credentials!";
                console.log(error);
            });
  
					}
				//$window.location.href = 'table-data-table.html';
            },function (error){
			    //$scope.error= "Please check your credentials!";
                console.log(error);
            });
            },function (error){
			    //$scope.error= "Please check your credentials!";
                console.log(error);
            });
  });
  
  
  
   
    </script>
</body>
</html>